body {
    background-color: rgb(11, 35, 51);
    background-image: url("../img/HORARIO.png");
    background-repeat: no-repeat;
    background-size: none;
    height:500px;

}
div {
    margin: 0 auto;
    text-align: center;
}
img {
    display: block;
    text-align: center;
    margin: 0 auto;
}
background-image: url("../img/logocafe.PNG");
